.site-header {
    margin-bottom: 2em;
    .usa-label {
        margin-right: 1em;
    }
    h1 {
        display: inline;
    }
    .social-share {
        float: right;
    }
    .tooltip-item {
        .tooltip {
            @include position(absolute, null null -6.25em -6.25em);
        }
    }
}

table#site-summary {
    table-layout: fixed;
    width: 100%;
    overflow: hidden;  /* Prevent extra scrollbar space */
    td.loc-metadata {
        word-wrap: break-word;
    }
}
