.site-header {
  margin-bottom: 2em;

  .usa-label {
    margin-right: 1em;
  }

  h1 {
    display: inline;
  }

  .social-share {
    float: right;
  }

  .tooltip-item {
    .tooltip {
      position: absolute;
      bottom: -6.25em;
      left: -6.25em;
    }
  }
}

#dv-accordion {
  @include u-margin-top(2);
}

table {
  #site-summary {
    table-layout: fixed;
    width: 100%;
    overflow: visible; /* Prevent extra scrollbar space */
    td {
      .loc-metadata {
        word-wrap: break-word;
      }
    }
  }
}

.usa-accordion {
  .usa-accordion-content {
    overflow: visible;
  }
}

.cooperator_logo {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
}
