.site-header {
  margin-bottom: 2em;

  .usa-label {
    margin-right: 1em;
  }

  h1 {
    display: inline;
  }

  .social-share {
    float: right;
  }
}

.provisional-data-statement {
  @include u-padding-bottom(1);
}

table {
  #site-summary {
    table-layout: fixed;
    width: 100%;
    overflow: visible;

    /* Prevent extra scrollbar space */
    td {
      .loc-metadata {
        word-wrap: break-word;
      }
    }
  }
}

.wdfn-accordion {
  @include u-margin-top(2);
  .usa-accordion-content {
    overflow: visible;
  }
}

.cooperator_logo {
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
}
// stop footer from creeping up on feedback link
.usa-footer {
  clear: both;
}

.user-feedback {
  @include u-bg('blue-60v');
  position: sticky;
  bottom: 0;
  z-index: 99;
  @include u-padding-top(1);
  @include u-padding-bottom(1);
  a {
    text-align: center;
    color: white;
    text-decoration: none;
    .usa-prose {
      @include u-margin-bottom(0);
      @include u-margin-top(0);
    }
  }
  @include at-media('tablet') {
    @include u-margin-right(2);
    border-radius: 15px 15px 0 0;
    display: block;
    float: right;
    @include u-padding-left(2);
    @include u-padding-right(2);
  }
}
