{
  "env": {
    "commonjs": true,
    "es6": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "jasmine"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": [2,"never"],
    "linebreak-style": ["error", "unix"],
    "no-extra-parens": [2,"all"],
    "no-use-before-define": 2,
    "brace-style": [1,"1tbs",{}],
    "no-mixed-spaces-and-tabs": 2,
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  },
  "globals": {
    "document": true,
    "XMLHttpRequest": true
  }
}
