{
  "env": {
    "commonjs": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": [2,"never"],
    "linebreak-style": ["error", "unix"],
    "no-cond-assign": [2,"except-parens"],
    "no-console": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": [2,"all"],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"functions"],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-fallthrough": 2,
    "no-delete-var": 2,
    "no-undef": 2,
    "no-use-before-define": 2,
    "brace-style": [1,"1tbs",{}],
    "no-mixed-spaces-and-tabs": 2,
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
