language: python

python:
  - "3.6.5"

branches:
  only:
    - master

before_install:
  - nvm install $(python -c "import json; print(json.loads(open('./assets/package.json').read())['engines']['node'])")

install:
  - make env

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
