{% macro TimeseriesComponent(site_no) -%}
    <div class="wdfn-component" data-component="hydrograph" data-siteno="{{ site_no }}">
    </div>
{%- endmacro %}


{% macro FloodSliderComponent() -%}
    <div class="wdfn-component" data-component="floodSlider"></div>
{%- endmacro %}


{% macro MapComponent(site_no, latitude, longitude) -%}
    <div class="wdfn-component" data-component="map" data-siteno="{{ site_no }}", data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-zoom=12>
    </div>
{%- endmacro %}


{% macro EmbedComponent(site_no) -%}
    <span class="wdfn-component" data-component="embed">
        <i class="embed-icon has-script fa fa-code"></i>
        <fieldset class="no-script">
            <legend>Embed Snippet</legend>
            <input type="text" id="embed-url" aria-label="Embed this time-series chart on your own site" value='<iframe src="{{ url_for('time_series_component', site_no=site_no, _external=True) }}" width="600" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>' readonly></input>
        </fieldset>
    </span>
{%- endmacro %}


{%  macro Description(site_no, loc_vals, param_grp_series) -%}
    {% if loc_vals %}
        Monitoring location {{ site_no }} is associated with {{ loc_vals.site_tp_cd.name.upper()|indefinite_article }} {{ loc_vals.site_tp_cd.name.upper() }} in {{ loc_vals.county_cd.name.upper() }}, {{ loc_vals.state_cd.name.upper() }}.
        {% if param_grp_series|readable_param_list %} Current conditions of {{ param_grp_series|readable_param_list }} are available.{% endif %}
        {% if param_grp_series|data_start_year %} Water data back to {{  param_grp_series|data_start_year }} are available online.{% endif %}
    {% endif %}
{%- endmacro %}


{%  macro QuestionTooltip(text_id, content, external_desc) -%}
    <div class="tooltip-item">
        <sup {% if not external_desc %}aria-describedby="{{ text_id|tooltip_content_id }}"{% endif %}>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </sup>
        <div class="tooltip">
            <p id="{{ text_id|tooltip_content_id }}">{{ content }}</p>
        </div>
    </div>
{%- endmacro  %}
