{% macro TimeseriesComponent(site_no) -%}
    <div class="wdfn-component" data-component="hydrograph" data-siteno="{{ site_no }}">
        <div class="compare-container" style="display: none;" data-siteno="{{ site_no }}">
            <input ga-on="click" ga-event-category="TimeseriesGraph" ga-event-action="toggleCompare" id="show-last-year-input" class="hydrograph-last-year-input" type="checkbox" value="show-last_year" aria-labelledby="show-last-year-label" />
            <label id="show-last-year-label" for="show-last-year-input">Show last year</label>
        </div>
    </div>
{%- endmacro %}


{% macro FloodSliderComponent() -%}
    <div class="wdfn-component" data-component="floodSlider"></div>
{%- endmacro %}


{% macro MapComponent(site_no, latitude, longitude) -%}
    <div class="wdfn-component" data-component="map" data-siteno="{{ site_no }}", data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-zoom=12>
    </div>
{%- endmacro %}


{% macro EmbedComponent(site_no) -%}
    <div class="wdfn-component" data-component="embed">
        <fieldset class="no-script">
            <legend>Embed Snippet</legend>
            <input type="text" id="embed-url" aria-label="Embed this time-series chart on your own site" value='<iframe src="{{ url_for('time_series_component', site_no=site_no, _external=True) }}" width="600" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>' readonly>
        </fieldset>
    </div>
{%- endmacro %}
