<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/ico" href="{{ config.STATIC_ROOT }}/img/usgs_favicon.ico">
        <link rel="stylesheet" href="{{ config.STATIC_ROOT }}/main.css">
        <script type="text/javascript">var SERVICE_ROOT = '{{ config.SERVICE_ROOT }}/nwis';</script>
        <script async src="{{ config.STATIC_ROOT }}/bundle.js"></script>
        {% block page_script %}{% endblock %}
        <title>
            {% block title %}{% if page_title %}{{ page_title }} - {% endif %}USGS Water Data for the Nation{% endblock %}
        </title>
    </head>
    <body {% if body_id %}id="{{ body_id }}"{% endif %}>
        <div id="skip"><a href="#main-content">Skip to main content</a></div>
        <header role="banner">
            {% include 'partials/usa_banner.html' %}
            {% include 'partials/header.html' %}
        </header>
        <main id="main-content" class="usa-grid">
            {% block content %}{% endblock %}
        </main>
        {% include 'partials/footer.html' %}
        {% block extra_body %}{% endblock %}
    </body>
    {% if config.LIVE_RELOAD_PATH %}
        <script type="text/javascript">
            // <![CDATA[  <-- For SVG support
            if ('WebSocket' in window) {
                (function() {
                    function refreshCSS() {
                        var sheets = [].slice.call(document.getElementsByTagName("link"));
                        var head = document.getElementsByTagName("head")[0];
                        for (var i = 0; i < sheets.length; ++i) {
                            var elem = sheets[i];
                            head.removeChild(elem);
                            var rel = elem.rel;
                            if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                            }
                            head.appendChild(elem);
                        }
                    }
                    var socket = new WebSocket('{{ config.LIVE_RELOAD_PATH }}');
                    socket.onmessage = function(msg) {
                        if (msg.data == 'reload') window.location.reload();
                        else if (msg.data == 'refreshcss') refreshCSS();
                    };
                    console.log('Live reload enabled.');
                })();
            }
            // ]]>
        </script>
    {% endif %}
</html>
