{% extends 'base_plain.html' %}

{% block body %}
    <div id="skip"><a href="#main-content">Skip to main content</a></div>
    <header role="banner">
        {% include 'partials/usa_banner.html' %}
        {% include 'partials/header.html' %}
    </header>
    <div id="wdfn-alert-banner">
        <input type="checkbox" id="wdfn-alert-dismiss" hidden/>
        <div class="wdfn-alert-body content-container">
            <label title="Close" class="close" for="wdfn-alert-dismiss"><i class="fa fa-times"></i></label>
            <div>
                Beta release. Use <a target="_blank" href="https://water.usgs.gov/contact/gsanswers?pemail=gs-w_water_data_for_the_nation&subject=Water%20Data%20for%20the%20Nation%20Feedback&viewnote=%3CH1%3EUSGS+WDFN+TNG+Feedback%3C/H1%3E">this form</a> to provide feedback.
            </div>
        </div>
    </div>
    <main id="main-content" class="usa-grid" class="content-container">
        {% block content %}{% endblock %}
    </main>
    {% include 'partials/footer.html' %}
    {% block extra_body %}{% endblock %}
{% endblock %}
