{% extends 'base.html' %}

{% set page_title = station.station_nm %}

{% block content %}
    <div class="usa-width-one-whole">
        {% if status_code == 200 %}
            <h1>Station Name: {{ station.station_nm }}</h1>
            <ul>
                <li><a href="{{ config.LEGACY_ENDPOINTS.INVENTORY }}/?site_no={{ station.site_no }}" target="_blank">Legacy site inventory page</a></li>
                <li><a href="{{ config.LEGACY_ENDPOINTS.UV }}/?format=img_default&site_no={{ station.site_no }}&period=7" target="_blank">Legacy Presentation Chart</a></li>
            </ul>

            <div class="hydrograph" data-siteno="{{ station.site_no }}"></div>

            <table>
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Station Data</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in location_with_values.items() %}
                <tr>
                    <th scope="row"> {{ STATION_FIELDS_D[key] }} </th>

                    <td> {{ value }} </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

        {% else %}
            <h1>Error: HTTP {{ status_code }} -- {{ reason }}</h1>
        {% endif %}
    </div>
{% endblock content %}
