{% extends 'base.html' %}

{% import 'macros/components.html' as components %}


{% block extra_head_tags %}
    {% if status_code == 200 %}
        <meta name="description" content="{{ components.Description(stations[0].site_no, location_with_values, parm_grp_summary) }}">
    {%  endif %}
{% endblock %}

{% block page_script %}
    {% if json_ld %}
    <script type="application/ld+json">
        {{ json_ld }}
    </script>
    {% endif %}
{% endblock page_script %}

{% set body_id = 'monitoring-location' %}
{% if stations|length == 1 %}{% set page_title = stations[0].station_nm %}{% endif %}

{% block content %}
    <div class="usa-width-one-whole">
        {% if status_code == 200 %}
            {% if stations|length > 1 %}

                <h1>Multiple sites found</h1>
                <h3>Please pick a site:</h3>
                <table class="usa-table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Agency</th>
                        <th scope="col">Site number</th>
                        <th scope="col">Site name</th>
                    </tr>
                </thead>
                <tbody>
                {% for site in stations %}
                    <tr>
                        <td><a href="{{ url_for('monitoring_location', site_no=site.site_no, agency_cd=site.agency_cd) }}">{{ site.agency_cd }}</a></td>
                        <td> {{ site.site_no }} </td>
                        <td> {{ site.station_nm }} </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>

            {% else %}
                <div class="site-header">
                    {% with site_no=stations[0].site_no %}{% include 'partials/social_share.html' %}{% endwith %}
                    <h1>{{ stations[0].station_nm }}</h1>
                    <div>
                        <span class="usa-label">Important</span>
                        <a aria-describedby="{{ 'classic'|tooltip_content_id }}" href="https://waterdata.usgs.gov/nwis/uv?site_no={{stations[0].site_no}}" target="_blank">Classic Page</a>
                        {{ components.QuestionTooltip('classic', 'View all current conditions values on the classic Water Data for the Nation interface.', True) }}
                    </div>
                    <p id="site-description">{{ components.Description(stations[0].site_no, location_with_values, parm_grp_summary) }}</p>
                </div>
                {{ components.TimeseriesComponent(stations[0].site_no) }}
                {% if stations[0].dec_lat_va and stations[0].dec_long_va %}
                    {{ components.FloodSliderComponent() }}
                    {{ components.MapComponent(stations[0].site_no, stations[0].dec_lat_va, stations[0].dec_long_va) }}
                {% endif %}

                {% if parm_grp_summary %}
                    <ul class="usa-accordion">
                        <li>
                            <button class="usa-accordion-button" aria-expanded="false" aria-controls="ts-a1">
                                Summary
                            </button>
                            <div id="ts-a1" class="usa-accordion-content">
                                <table id="site-data-summary">
                                    <thead>
                                        <tr>
                                            <th scope="col">USGS Parameter Group</th>
                                            <th scope="col">Data Types</th>
                                            <th scope="col">Start Date</th>
                                            <th scope="col">End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for grp in parm_grp_summary %}
                                            <tr>
                                                <td scope="row">{% if grp.name %}{{ grp.name }}{% else %}<sub>n/a</sub>{% endif %}</td>
                                                <td>{{ grp.data_types }}</td>
                                                <td>{{ grp.start_date|date_to_string }}</td>
                                                <td>{{ grp.end_date|date_to_string }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <a href="https://waterdata.usgs.gov/nwis/inventory/?site_no={{ stations[0].site_no }}">Classic Water Data for the Nation Inventory</a>
                            </div>
                        </li>
                    </ul>
                {% endif %}

                <table id="site-summary" summary="Descriptive metadata about this monitoring location">
                    <thead>
                        <tr>
                            <th scope="col">Metadata Element</th>
                            <th scope="col">Location Metadata</th>
                            <th scope="col">Metadata Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in location_with_values.items() %}
                            <tr>
                                <th scope="row" {%  if STATION_FIELDS_D[key].description %}aria-describedby="{{ key|tooltip_content_id }}"{% endif %}>{{ STATION_FIELDS_D[key].name }}
                                    {%  if STATION_FIELDS_D[key].description %}
                                        {{ components.QuestionTooltip(key, STATION_FIELDS_D[key].description, True) }}
                                    {% endif %}
                                </th>
                                <td class="loc-metadata">
                                    {% if value.url %}
                                        <a href="{{ value.url }}">{{ value.name }}</a>
                                    {% else %}
                                        {{ value.name }}
                                    {% endif %}
                                    {% if value.desc %}
                                        {{ components.QuestionTooltip(value.code, value.desc, False) }}
                                    {% endif %}
                                </td>
                                <td>{% if value.code != value.name %}{{ value.code }}{% else %}<sub>n/a</sub>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if questions_link %}
                    <div>
                        <a href="{{ questions_link }}">Email USGS questions about this site</a>
                    </div>
                {% endif %}
            {% endif %}

        {% else %}
            <h1>Error: HTTP {{ status_code }} -- {{ reason }}</h1>
        {% endif %}
    </div>
{% endblock content %}
