{% extends 'base.html' %}

{% if huc_cd %}{% set page_title = 'test'%}{% endif %}

{% block content %}
    <div class="usa-width-one-whole">
        {% if http_code == 200 %}
            <h1>Political Unit: {{ political_unit_data.name }}</h1>

            {% if political_unit_data.county_cd %}
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Unit Code</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for county_cd in political_unit_data.name %}
                            <tr>
                                <th scope="row"><a href="{{ url_for('political_unit', county_cd=county_cd) }}">{{ state_cd }}{{ county_cd }}</a></th>
                                <td> test line</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}




        {% else %}
            <h1>Error: HTTP {{ http_code }} -- Political Unit not found.</h1>
        {% endif %}
    </div>
{% endblock content %}