& {
    display: inline-block;
    vertical-align: top;
    position: absolute;

    a {
        padding-left: .25em;
    }

    fieldset {
        display: none;
        position: relative;
        width: 150px;
        background: $color-white;
        legend {
            font-size: .75em;
        }

        &:hover {
            display: block;
        }
    }

    &:hover {
        fieldset {
            display: block;
            z-index: 2000;
        }
    }
}
