$approved: darkgreen;
$estimated: black;

table#select-timeseries {
    tbody {
        tr {
            cursor: pointer;
            background-color: $color-gray-lightest;
            &:hover {
                td {
                    background-color: $color-gray-lightest;
                }
            }
            &.selected {
                cursor: default;
                td {
                    background-color: $color-aqua-lightest;
                }
            }
        }
    }
}

.hydrograph-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;

    svg {
        font-size: 0.7em;
        @include media($small-screen) {
            font-size: 1em;
        }

        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

        .overlay {
            fill: none;
            pointer-events: all;
        }
        .focus {
            circle {
                fill: #436BAF;
                opacity: .6;
            }
            line {
                opacity: .5;
                stroke: #436BAF;
                stroke-width: 1;
                stroke-dasharray: 5, 5
            }

        }
        .tooltip-text-group {
            .current-tooltip-text {
                font-weight: bold;
            }
            .approved {
                fill: $approved;
            }
            .estimated {
                fill: $estimated;
            }
            .compare-tooltip-text {
                font-weight: normal
            }
        }
        .line {
            fill: none;
            stroke-width: 3px;
            stroke: $usgs-blue;
            &.approved {
                stroke: $approved;
            }
            &.estimated {
                stroke: $estimated;
                stroke-dasharray: 1, 3;
            }
        }
        #ts-compare {
            stroke-width: 1px;
        }
        .axis {
            path {
                fill: none;
            }
        }
        .y-axis {
            text {
                fill: black;
                text-anchor: middle;
            }
            .tick {
                line {
                    fill: none;
                    stroke: lightgrey;
                    stroke-opacity: 0.7;
                }
            }
        }
        .x-axis {
            .tick {
                line {
                    fill: none;
                    stroke: black;
                    stroke-opacity: 0.7;
                }
            }
        }
        .median-data-series {
            fill: #f96713;
            cursor: pointer;
        }
    }

}
