$approved: darkgreen;
$estimated: black;
$selected: $color-aqua-lightest;
$highlight: $color-gray-lightest;

#select-timeseries  {
    label {
        font-weight: $font-bold;
    }
    table {
        display: block;
        overflow: auto;
        height: 250px;
        margin-top: 0;

        thead {
            th {
                font-size: $small-font-size
            }
            th, td {
                background-color: white;
            }
        }
        tbody {
            tr {
                cursor: pointer;
                background-color: $highlight;
                th, td {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }

                &:hover {
                    th, td {
                        background-color: $highlight;
                    }
                    .tooltip-item {
                        background-color: $highlight;
                    }
                }
                &.selected {
                    cursor: default;
                    th, td {
                        background-color: $selected;
                    }
                    .tooltip-item {
                        background-color: $selected;
                    }
                }
                .tooltip-item {
                    span {
                        padding-left: 0.25em;
                        font-size: 0.8em;
                    }
                    .tooltip {
                        @include position(absolute, null null 0 1em);
                        text-align: center;
                        width: 11em;
                        padding: 0.2em;
                        margin: 0 0;
                    }
                }
            }
        }
        svg {
            .spark-line {
                stroke: $usgs-blue;
                stroke-width: 1px;
                fill: none;
            }
        }
    }
}

.hydrograph-container {
    width: 100%;
    vertical-align: top;

    .timeseries-graph-title {
        @include h4();
        @include media($medium-screen) {
            @include h3();
            font-weight: normal;
        }
        color: $color-gray;
        text-align: center;
        font-weight: normal;
    }

    svg {
        .overlay {
            fill: none;
            pointer-events: all;
        }
        circle.focus {
            fill: #436BAF;
            opacity: .6;
        }
        .focus {
            line {
                opacity: .5;
                stroke: #436BAF;
                stroke-width: 1;
                stroke-dasharray: 5, 5
            }

        }
        .tooltip-text-group {
            font-size: 0.7em;
            @include media($medium-screen) {
                font-size: 1em;
            }

            .tooltip-text-group-background {
                fill: white;
            }
            .current-tooltip-text {
                font-weight: bold;
            }
            .approved {
                fill: $approved;
            }
            .estimated {
                fill: $estimated;
            }
            .compare-tooltip-text {
                font-weight: normal
            }
        }
        .line-segment {
            fill: none;
            stroke-width: 3px;
            stroke: $usgs-blue;
            &.approved {
                stroke: $approved;
            }
            &.estimated {
                stroke: $estimated;
                stroke-dasharray: 1, 3;
            }
        }
        .ts-compare, #ts-legend-compare {
            stroke-width: 1px;
        }
        .axis {
            path {
                fill: none;
            }
        }
        .tick {
            text {
                font-size: 1.2em;
            }
        }
        .y-axis {
            text {
                fill: black;
                text-anchor: left;
                &.y-axis-label {
                    text-anchor: middle;
                    display: none;
                    @include media($medium-screen) {
                        display: block;
                    }
                }
            }
            .tick {
                line {
                    fill: none;
                    stroke: lightgrey;
                    stroke-opacity: 0.7;
                }
            }
        }
        .x-axis {
            .tick {
                line {
                    fill: none;
                    stroke: black;
                    stroke-opacity: 0.7;
                }
            }
        }
        #median-points {
            .median-data-series {
                cursor: pointer;
            }
        }
        .median-data-series {
            &.median-modulo-0 {
                fill: #f96713;
            }
            &.median-modulo-1 {
                fill: #0c7d40;
            }
            &.median-modulo-2 {
                fill: #0557fc;
            }
            &.median-modulo-3 {
                fill: #f4f727;
            }
            &.median-modulo-4 {
                fill: #01fab6;
            }
            &.median-modulo-5 {
                fill: #9a9b77;
            }
        }
        .mask {
            opacity: 0.2;
        }
        .ice-affected-mask {
            fill: #33daff;
        }
        .flood-mask {
            fill: #0c7d40;
        }
        .zeroflow-mask {
            fill: #f4f727;
        }
        .dry-mask {
            fill: #9a9b77;
        }
        .seasonal-mask {
            fill: #17fc04;
        }
        .partial-record-mask {
            fill: #ec14fe;
        }
        .rating-development-mask {
            fill: #fe141b;
        }
        .equipment-malfunction-mask {
            fill: #0557fc;
        }
        .maintenance-mask {
            fill: #01fab6;
        }
        .unavailable-mask {
            fill: #abb2b9;
        }
        .test-mask {
            fill: #4729a5;
        }
        .pump-mask {
            fill: #3498db;
        }
    }

}

.slider-wrapper {
    height: 0px;
    input#cursor-slider {
        max-width: none;
        position: relative;
        opacity: .2;
        top: -2em;
        background: none;
        padding: 0;
        margin: 0;
        &.active {
            opacity: 1;
        }
    }
}
.ts-legend-controls-container {
    position: relative;

    font-size: .7em;
    @include media($medium-screen) {
        font-size: 1em;
    }

    .graph-controls-container {
        position: absolute;
        display: inline-block;
        top: 0px;
        right: 0px;
    }
}
