$approved-time-series: #1b9e77;
$estimated-time-series: #7570b3;
$provisional-time-series: #d95f02;

.loading-indicator-container {
  i {
    text-align: center;
    vertical: middle;
    width: 100%;
  }
}

.time-series-graph-title {
  @include u-margin-top(1);
  @include h4();
  @include at-media('tablet') {
    @include h3();
  }
  text-align: center;
}

#dv-parameter-code-toggle {
  list-style: none;
  padding-top: 25px;
  li {
    display: inline-block;
    padding-right: 25px;
  }
}

.dv-legend-container {
  position: relative;
  font-size: .7em;
  @include at-media('tablet') {
    font-size: 1em;
  }
  .graph-controls-container {
    display: inline-block;
    li {
      margin-bottom: 10px;
    }
    @include at-media('tablet') {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.dv-tooltip-container {
  position: absolute;
  pointer-event: none;
  font-size: .7em;
  @include at-media('tablet') {
    font-size: 1em;
  }
  .dv-tooltip-text {
    font-weight: bold;
  }
  .approved {
    color: $approved-time-series;
  }
  .estimated {
    color: $estimated-time-series;
  }
  .provisional {
    color: $provisional-time-series;
  }
}

svg {
  .tick {
    text {
      font-size: 1.05em;
      @include at-media('mobile-lg') {
        font-size: 1.2em;
      }
      @include at-media('tablet') {
        font-size: 1.4em;
      }
    }
  }

  .y-axis {
    text {
      fill: black;
    }

    .y-axis-label {
      text-anchor: middle;
      display: none;
      font-size: 1.5em;
      font-style: italic;
      @include at-media($theme-site-max-width) {
        display: block;
      }
    }

    .tick {
      line {
        fill: none;
        stroke: lightgrey;
        stroke-opacity: 0.7;
      }
    }
  }

  .x-axis {
    .tick {
      line {
        fill: none;
        stroke: black;
        stroke-opacity: 0.7;
      }
    }
  }

  .line-segment {
    fill: none;
    stroke-width: 3px;

    &.approved {
      stroke: $approved-time-series;
    }
    &.estimated {
      stroke: $estimated-time-series;
    }
    &.provisional {
      stroke: $provisional-time-series;
    }
    &.mean {
      stroke-width: 3px;
    }
    &.min {
      stroke-width: 2px;
      stroke-dasharray: 2;
      stroke-dashoffset: 6;
    }
    &.max {
      stroke-width: 2px;
      stroke-dasharray: 6;
      stroke-dashoffset: 1;
    }
  }

  .mask {
    opacity: 0.2;
  }

  .mask-0 {
    fill: #33daff;
  }
  .mask-1 {
    fill: #0c7d40;
  }
  .mask-2 {
    fill: #f4f727;
  }
  .mask-3 {
    fill: #9a9b77;
  }
  .mask-4 {
    fill: #17fc04;
  }
  .mask-5 {
    fill: #ec14fe;
  }
  .mask-6 {
    fill: #fe141b;
  }
  .mask-7 {
    fill: #0557fc;
  }
  .mask-8 {
    fill: #01fab6;
  }
  .mask-9 {
    fill: #abb2b9;
  }
  .mask-10 {
    fill: #4729a5;
  }
  .mask-11 {
    fill: #3498db;
  }
  .mask-12 {
    fill: #ff8c00;
  }
  .mask-13 {
    fill: #e9967a;
  }

  .focus-overlay {
    fill: none;
    pointer-events: all;
  }

  .focus-circle {
    fill: black;
    opacity: .6;
  }
  .focus-line {
    opacity: .5;
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 5, 5;
  }
}

svg {
  .brush-text-hint {
    text-anchor: middle;
    font-size: size('body', 1)
  }

  .handle--custom {
    stroke: color('black');
    cursor: 'ew-resize';
  }
  .standard-brush-handle {
    fill: color('black');
  }
}
