$approved-time-series: #1b9e77;
$estimated-time-series: #7570b3;
$provisional-time-series: #d95f02;

.graph-container {
  width: 100%;
}

.loading-indicator-container {
  i {
    text-align: center;
    vertical: middle;
    width: 100%;
  }
}

.time-series-graph-title {
  @include u-margin-top(4);
  @include h4();
  @include at-media('tablet') {
    @include h3();
  }
  text-align: center;
}

.dv-tooltip-container {
  pointer-event: none;
  .dv-tooltip-text {
    font-weight: bold;
  }
  .approved {
    color: $approved-time-series;
  }
  .estimated {
    color: $estimated-time-series;
  }
  .provisional {
    color: $provisional-time-series;
  }
}

svg {
  .tick {
    text {
      font-size: 1.05em;
      @include at-media('mobile-lg') {
        font-size: 1.2em;
      }
      @include at-media('tablet') {
        font-size: 1.4em;
      }
    }
  }

  .y-axis {
    text {
      fill: black;
    }

    .y-axis-label {
      text-anchor: middle;
      display: none;
      font-size: 1.5em;
      font-style: italic;
      @include at-media($theme-site-max-width) {
        display: block;
      }
    }

    .tick {
      line {
        fill: none;
        stroke: lightgrey;
        stroke-opacity: 0.7;
      }
    }
  }

  .x-axis {
    .tick {
      line {
        fill: none;
        stroke: black;
        stroke-opacity: 0.7;
      }
    }
  }

  .line-segment {
    fill: none;
    stroke-width: 3px;

    &.approved {
      stroke: $approved-time-series;
    }
    &.estimated {
      stroke: $estimated-time-series;
    }
    &.provisional {
      stroke: $default-time-series;
    }
  }

  .mask {
    opacity: 0.2;
  }

  .mask-0 {
    fill: #33daff;
  }
  .mask-1 {
    fill: #0c7d40;
  }
  .mask-2 {
    fill: #f4f727;
  }
  .mask-3 {
    fill: #9a9b77;
  }
  .mask-4 {
    fill: #17fc04;
  }
  .mask-5 {
    fill: #ec14fe;
  }
  .mask-6 {
    fill: #fe141b;
  }
  .mask-7 {
    fill: #0557fc;
  }
  .mask-8 {
    fill: #01fab6;
  }
  .mask-9 {
    fill: #abb2b9;
  }
  .mask-10 {
    fill: #4729a5;
  }
  .mask-11 {
    fill: #3498db;
  }
  .mask-12 {
    fill: #ff8c00;
  }
  .mask-13 {
    fill: #e9967a;
  }

  .focus-overlay {
    fill: none;
    pointer-events: all;
  }

  .focus-circle {
    fill: black;
    opacity: .6;
  }
  .focus-line {
    opacity: .5;
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 5, 5;
  }
}

.brush-handle-fill {
  fill: #345d96;
  opacity: .5;
  width: 8px;
  stroke: #000000;
  stroke-width: 1px;
}
