/**
 * Hydrograph component SCSS to be used in front-end application.
 */
@import './variables';

#ts-daterange-select-container {
  .loading-indicator-container {
    display: inline-block;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
      label {
        margin: 0;
        @include u-margin-bottom(1);
        width: 110px;
      }
    }
  }
}
.container-radio-group-and-form-buttons {
  border: solid 1px color('black');
  @include u-margin-bottom(1);
  #ts-custom-date-radio-group {
    @include u-padding-left(1);
    p {
      @include u-text('bold');
      @include u-margin-bottom(1);
    }
    ul {
      display: inline-block;
      li {
        display: inline-block;
        @include u-padding-right(1);
      }
    }
  }
  #ts-custom-days-before-today-select-container {
    @include u-padding-right(1);
    @include u-padding-bottom(1);
    @include u-padding-left(1);
    .usa-label {
      @include u-text('bold');
    }
  }
  #ts-customdaterange-select-container {
    @include u-padding-right(1);
    @include u-padding-bottom(1);
    @include u-padding-left(1);
    label {
      @include u-text('bold');
    }
  }
}

#ts-method-select-container {
  @include u-margin-bottom(2);
}

#select-time-series {
  label {
    @include u-text('bold');
  }

  table {
    display: block;
    overflow: auto;
    margin-top: 0;
    height: 250px;
    @include at-media($theme-site-max-width) {
      height: auto;
    }

    thead {
      th {
        font-size: size('body', 'sm');
      }

      th, td {
        background-color: white;
      }
    }

    tbody {
      tr {
        cursor: pointer;
        background-color: $highlight;

        th, td {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }

        &:hover {
          th, td {
            background-color: $highlight;
          }
        }

        &.selected {
          cursor: default;

          th, td {
            background-color: $selected;
          }
        }
      }
    }

    svg {
      .spark-line {
        stroke: $usgs-blue;
        stroke-width: 1px;
        fill: none;
      }

      text {
        .sparkline-text {
          font-size: 0.6em;
        }
      }

      .spark-point {
        stroke: $usgs-blue;
        stroke-width: 1px;
        fill: $usgs-blue;
      }
    }
  }
}

.hydrograph-container {
  width: 100%;
  vertical-align: top;
  @include at-media('tablet') {
    min-height: 85px;
  }

  // Import the SVG styles for the graph
  @import './graph';

  .tooltip-text-group {
    pointer-events: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;

    .current-tooltip-text {
      font-weight: bold;
      color: $default-time-series;
      .approved {
        color: $approved-time-series;
      }

      .estimated {
        color: $estimated-time-series;
      }
    }

    .compare-tooltip-text {
      font-weight: normal;
      color: $default-time-series-compare;
      .approved {
        color: $approved-time-series-compare;
      }

      .estimated {
        color: $estimated-time-series-compare;
      }
    }
  }
  svg {
    .brush-text-hint {
      position: relative;
      text-anchor: middle;
      font-size: size('body', 1);
    }

    .handle--custom {
      stroke: color('black');
      fill: color('white');
      cursor: 'ew-resize';
    }
    .standard-brush-handle {
      fill: color('black');
    }
  }
}

.loading-indicator-container {
  i {
    text-align: center;
    vertical: middle;
    width: 100%;
  }
}

.ts-legend-controls-container {
  position: relative;

  font-size: .7em;
  @include at-media('tablet') {
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }

  .graph-controls-container {
    display: inline-block;

    li {
      margin-bottom: 10px;
    }

    @include at-media('tablet') {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.provisional-data-alert {
  p {
    height: 6em;
    overflow-y: scroll;
    @include at-media('mobile-lg') {
      height: 4em;
    }
  }
}

.pagination {
  li {
    display: inline-block;
    margin-left: 0.6rem;
    padding: .8rem;
    @include u-border('solid');
    @include u-border(1px);
    @include u-radius('md');
    a {
      text-decoration: none;
    }
  }
  .active {
    background-color: color('gray-20');
  }

  .disabled {
    border: none;
    a {
      cursor: not-allowed;
    }
  }
}
