/**
 * Hydrograph component SCSS to be used in front-end application.
 */
@import './variables';

#ts-method-select-container {
  @include u-margin-bottom(2);
}

#change-time-span-container {
  @include u-padding(2);
  .date-range-container {
    span {
      @include u-margin-right(1);
    }

    .usa-date-range-picker, .usa-form-group {
      display: inline-block;
    }
    .usa-form-group:first-child {
      @include u-margin-right(2);
    }
    .usa-date-picker {
      width: 11rem;
    }

    .usa-date-picker__calendar {
      width: units($theme-input-max-width);
    }
  }
  .time-span-input-container > div:nth-child(2) {
    @include at-media('mobile') {
      @include u-margin-top(1);
    }
    @include u-font('ui', 'lg');
    @include u-text('bold');
  }
  .days-before-today-container {
    .days-before-container {
      label {
        display: inline-block;
        @include u-margin-right(2);
        @include u-margin-top('auto');
      }
      input {
        width: 5rem;
        display: inline-block;
        @include u-margin-top('auto');
      }
    }
    @include u-margin-bottom(2);
  }
}

#download-graph-data-container > div {
  @include grid-row;
  @include grid-gap;
  @include u-flex('row');
  @include u-padding(2);
  .usa-legend {
    @include u-text('bold');
  }
  .download-info {
    @include u-padding(2);
    @include u-flex('auto');
    @include u-flex('align-self-center');
    @include u-text('italic');
  }
  .alert-error-container {
    @include u-margin-top(2);
  }
}

#select-time-series {
  label {
    @include u-text('bold');
  }

  table {
    display: block;
    overflow: auto;
    margin-top: 0;
    height: 250px;
    @include at-media($theme-site-max-width) {
      height: auto;
    }

    thead {
      th {
        font-size: size('body', 'sm');
      }

      th:last-child {
        background-color: color('blue-cool-40');
        color: color('white');
        text-align: center;
      }

      th, td {
        background-color: white;
      }
    }

    tbody {
      tr {
        cursor: pointer;
        background-color: $highlight;

        th, td {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }

        &:hover {
          th, td {
            background-color: $highlight;
          }
        }

        &.selected {
          cursor: default;

          th, td {
            background-color: $selected;
          }
        }
      }
    }
  }
}

#hydrograph-wrapper {
  position: relative;

  #hydrograph-loading-indicator-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    i {
      text-align: center;
      vertical-align: middle;
      width: 100%;
    }
  }

  #hydrograph-no-data-overlay {
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    >div {
      text-align: center;
      vertical-align: middle;
      height: 100%;
      width: 100%;
      @include at-media('mobile') {
        @include u-font('body', 'sm');
      }
      @include at-media('tablet') {
        @include u-font('body', 'xl');
      }
      @include at-media('desktop') {
        @include u-font('body', '3xl');
      }
      @include u-text('info-dark');
      svg: {
        display: inline-block;
      }
      div {
        display: inline-block;
      }
    }
  }
}

.hydrograph-container {
  width: 100%;
  vertical-align: top;
  @include at-media('tablet') {
    min-height: 85px;
  }
  // Import the SVG styles for the graph
  @import './graph';

  .tooltip-text-group {
    pointer-events: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
    font-size: .8rem;
    @include at-media('tablet') {
      font-size: 1.1rem;
    }
    @include at-media('desktop') {
      font-size: 1.25rem;
    }

    .primary-tooltip-text {
      font-weight: bold;
      color: $default-time-series;

      &.approved {
        color: $approved-time-series;
      }

      &.estimated {
        color: $estimated-time-series;
      }
    }

    .compare-tooltip-text {
      font-weight: normal;
      color: $default-time-series-compare;

      &.approved {
        color: $approved-time-series-compare;
      }

      &.estimated {
        color: $estimated-time-series-compare;
      }
    }
    // Every groundwater approval code other than 'A' or 'R' for accepted/revised will be colored the 'provisional' color
    .gwlevel-tooltip-text {
      color: $default-time-series;
      font-weight: normal;
    }
    .gwlevel-tooltip-text.approved {
      color: $approved-time-series;
      font-weight: normal;
    }
    .gwlevel-tooltip-text.revised {
      color: $revised-groundwater;
      font-weight: normal;
    }
  }
  svg {
    .brush-text-hint {
      position: relative;
      text-anchor: middle;
      font-size: size('body', 1);
    }

    .handle--custom {
      stroke: color('black');
      fill: color('white');
      cursor: 'ew-resize';
    }
    .standard-brush-handle {
      fill: color('black');
    }
  }
}

.ts-legend-controls-container {
  position: relative;

  font-size: .7em;
  @include at-media('tablet') {
    font-size: 1em;
  }

  button {
    font-size: 1em;
  }

  .graph-controls-container {
    display: inline-block;

    li {
      margin-bottom: 10px;
    }

    @include at-media('tablet') {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.pagination {
  li {
    display: inline-block;
    margin-left: 0.6rem;
    padding: .8rem;
    @include u-border('solid');
    @include u-border(1px);
    @include u-radius('md');
    a {
      text-decoration: none;
    }
  }
  .active {
    background-color: color('gray-20');
  }

  .disabled {
    border: none;
    a {
      cursor: not-allowed;
    }
  }
}
