/**
 * Hydrograph component SCSS to be used directly by graph-server, and imported
 * by the client-side app.
 */

@import './variables';

.time-series-graph-title {
    @include h4();
    @include at-media('tablet') {
        @include h3();
    }
    text-align: center;
}

.watermark {
    position: absolute;
    opacity: .08;
    pointer-events: none;
}

svg {
    // padding-right: 10em;
    .overlay {
        fill: none;
        pointer-events: all;
    }
    circle.focus {
        fill: #436BAF;
        opacity: .6;
    }
    .focus {
        line {
            opacity: .5;
            stroke: #436BAF;
            stroke-width: 1px;
            stroke-dasharray: 5, 5
        }
    }
    .line-segment {
        fill: none;
        stroke-width: 3px;
        stroke: $default-time-series;
        &.approved {
            stroke: $approved-time-series;
        }
        &.estimated {
            stroke: $estimated-time-series;
        }
    }
    .ts-compare {
        stroke-width: 1px;
    }
    .axis {
        path {
            fill: none;
        }
    }
    .tick {
        text {
            font-size: 1.05em;
            @include at-media('mobile-lg') {
                font-size: 1.2em;
            }
            @include at-media('tablet') {
                font-size: 1.4em;
            }
        }
    }
    .y-axis {
        text {
            fill: black;
            &.y-axis-label {
                text-anchor: middle;
                display: none;
                font-size: 1.5em;
                font-style: italic;
                @include at-media($theme-site-max-width) {
                    display: block;
                }
            }
        }
        .tick {
            line {
                fill: none;
                stroke: lightgrey;
                stroke-opacity: 0.7;
            }
        }
    }
    .x-axis {
        .tick {
            line {
                fill: none;
                stroke: black;
                stroke-opacity: 0.7;
            }
        }
    }
    .median-data-series {
        stroke-dasharray: 1, 3;
        &.median-modulo-0 {
            fill: #f96713;
        }
        &.median-step-0 {
            fill: none;
            stroke: #f96713;
            stroke-width: 2px;
        }
        &.median-modulo-1 {
            fill: #0c7d40;
        }
        &.median-step-1 {
            fill: none;
            stroke: #0c7d40;
            stroke-width: 2px;
        }
        &.median-modulo-2 {
            fill: #0557fc;
        }
        &.median-step-2 {
            fill: none;
            stroke: #0557fc;
            stroke-width: 2px;
        }
        &.median-modulo-3 {
            fill: #f4f727;
        }
        &.median-step-3 {
            fill: none;
            stroke: #f4f727;
            stroke-width: 2px;
        }
        &.median-modulo-4 {
            fill: #01fab6;
        }
        &.median-step-4 {
            fill: none;
            stroke: #01fab6;
            stroke-width: 2px;
        }
        &.median-modulo-5 {
            fill: #9a9b77;
        }
        &.median-step-5 {
            fill: none;
            stroke: #9a9b77;
            stroke-width: 2px;
        }
    }
    .mask {
        opacity: 0.2;
    }
    .ice-affected-mask {
        fill: #33daff;
    }
    .flood-mask {
        fill: #0c7d40;
    }
    .zeroflow-mask {
        fill: #f4f727;
    }
    .dry-mask {
        fill: #9a9b77;
    }
    .seasonal-mask {
        fill: #17fc04;
    }
    .partial-record-mask {
        fill: #ec14fe;
    }
    .rating-development-mask {
        fill: #fe141b;
    }
    .equipment-malfunction-mask {
        fill: #0557fc;
    }
    .maintenance-mask {
        fill: #01fab6;
    }
    .unavailable-mask {
        fill: #abb2b9;
    }
    .test-mask {
        fill: #4729a5;
    }
    .pump-mask {
        fill: #3498db;
    }
}
