$approved-time-series: #1b9e77;
$approved-time-series-compare: #eecb19;
$estimated-time-series: #7570b3;
$estimated-time-series-compare: #3ee0d1;
$default-time-series: #d95f02;
$default-time-series-compare: #a9f38a;
$not-current-method-opacity: 0.1;
$selected: color('accent-cool-lighter');
$highlight: color('gray-4');
