$approved-time-series: #1b9e77;
$estimated-time-series: #7570b3;
$default-time-series: #d95f02;
$not-current-method-opacity: 0.1;
$selected: color('accent-cool-lighter');
$highlight: color('gray-4');
