$approved-time-series: #003f5c;
$approved-time-series-compare: #665191;
$estimated-time-series: #d45087;
$estimated-time-series-compare: #a05195;
$default-time-series: #ffa600;
$default-time-series-compare: #ff7c43;
$not-current-method-opacity: 0.1;
$selected: color('accent-cool-lighter');
$highlight: color('gray-4');
