<footer class="usa-footer usa-footer-slim" role="contentinfo">
    <div class="usa-footer-primary-section content-container">
        <div class="usgs-footer-nav">
            <a class="usgs-footer-link" href="https://www.doi.gov/privacy">DOI Privacy Policy</a> |
            <a class="usgs-footer-link" href="https://www.usgs.gov/laws/policies_notices.html">Legal</a> |
            <a class="usgs-footer-link" href="https://www2.usgs.gov/laws/accessibility.html">Accessibility</a> |
            <a class="usgs-footer-link" href="https://www.usgs.gov/sitemap.html">Site Map</a> |
            <a class="usgs-footer-link" href="https://answers.usgs.gov/">Contact USGS</a>
        </div>
        <div class="usgs-footer-nav">
            <a class="usgs-footer-link" href="https://www.doi.gov/">U.S. Department of the Interior</a> |
            <a class="usgs-footer-link" href="https://www.doioig.gov/">DOI Inspector General</a> |
            <a class="usgs-footer-link" href="https://www.whitehouse.gov/">White House</a> |
            <a class="usgs-footer-link" href="https://www.whitehouse.gov/omb/management/egov/">E-gov</a> |
            <a class="usgs-footer-link" href="https://www.doi.gov/pmb/eeo/no-fear-act">No Fear Act</a> |
            <a class="usgs-footer-link" href="https://www2.usgs.gov/foia">FOIA</a>
        </div>
    </div>
</footer>
