{% if has_feedback_link(request.endpoint) %}
    <div class="user-feedback">
        <a href="{{ url_for('questions_comments', referring_page_type=referring_page_type, email_for_data_questions=email_for_data_questions) }}"
           target="_blank"
           ga-on="click" ga-event-category="navigation" ga-event-action="toFeedBackForm_floatingLink">
            <p class="usa-prose">Questions or Comments</p>
        </a>
    </div>
{%  endif %}
<footer class="usa-footer usa-footer-slim" role="contentinfo">
    <nav class="usa-footer-primary-section content-container" aria-label="Footer Navigation">
        <div class="usgs-footer-nav">
            <a class="usgs-footer-link" href="https://www.doi.gov/privacy">DOI Privacy Policy</a> |
            <a class="usgs-footer-link" href="https://www.usgs.gov/laws/policies_notices.html">Legal</a> |
            <a class="usgs-footer-link" href="https://www2.usgs.gov/laws/accessibility.html">Accessibility</a> |
            <a class="usgs-footer-link" href="https://www.usgs.gov/sitemap">Site Map</a> |
            <a class="usgs-footer-link" href="https://answers.usgs.gov/">Contact USGS</a>

            <div class="social-media-links">
                <span>Follow</span>
                <a href="https://twitter.com/usgs" target="_blank">
                    <svg class="usa-icon usa-icon--size-3" aria-label="USGS twitter" role="img">
                        <use xlink:href="{{ 'img/sprite.svg#twitter' | static_url }}"></use>
                    </svg>
                </a>
                <a href="http://facebook.com/usgeologicalsurvey" target="_blank">
                    <svg class="usa-icon usa-icon--size-3" aria-label="USGS Facebook"  role="img">
                        <use xlink:href="{{ 'img/sprite.svg#facebook' | static_url }}"></use>
                    </svg>
                </a>
                <a href="http://github.com/usgs" target="_blank">
                    <svg class="usa-icon usa-icon--size-3" aria-label="USGS Github" role="img">
                        <use xlink:href="{{ 'img/sprite.svg#github' | static_url }}"></use>
                    </svg>
                </a>
                <a href="http://flickr.com/usgeologicalsurvey" target="_blank">
                    <svg class="usa-icon usa-icon--size-3" aria-label="USGS Flickr" role="img">
                        <use xlink:href="{{ 'img/sprite.svg#flickr' | static_url }}"></use>
                    </svg>
                </a>
                <a href="http://youtube.com/usgs" target="_blank">
                    <svg class="usa-icon usa-icon--size-3" aria-label="USGS You Tube" role="img">
                        <use xlink:href="{{ 'img/sprite.svg#youtube' | static_url }}"></use>
                    </svg>
                </a>
                <a href="http://instagram.com/usgs">
                    <svg class="usa-icon usa-icon--size-3" aria-label="USGS Instagram" role="img">
                        <use xlink:href="{{ 'img/sprite.svg#instagram' | static_url }}"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="usgs-footer-nav">
            <a class="usgs-footer-link" href="https://www.doi.gov/">U.S. Department of the Interior</a> |
            <a class="usgs-footer-link" href="https://www.doioig.gov/">DOI Inspector General</a> |
            <a class="usgs-footer-link" href="https://www.whitehouse.gov/">White House</a> |
            <a class="usgs-footer-link" href="https://www.whitehouse.gov/omb/management/egov/">E-gov</a> |
            <a class="usgs-footer-link" href="https://www.doi.gov/pmb/eeo/no-fear-act">No Fear Act</a> |
            <a class="usgs-footer-link" href="https://www2.usgs.gov/foia">FOIA</a>
        </div>
    </nav>
</footer>
