{% if config.GA_TRACKING_CODE %}
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', "{{ config.GA_TRACKING_CODE }}", 'auto');
        ga('send', 'pageview');

        ga('require', 'outboundLinkTracker');
        ga('require', 'eventTracker');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script async src="{{ 'autotrack.js' | asset_url }}"></script>
{% endif %}

{% if config.ENABLE_USGS_GA %}
    <script type="application/javascript" src="https://www2.usgs.gov/scripts/analytics/usgs-analytics.js"></script>
{%  endif %}
