{% import 'macros/components.html' as components %}

{% with share_encoded_url = url_for(request.endpoint, _external=True, **request.view_args)|urlencode %}
    <div class="social-share">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_encoded_url }}" target="_blank">
            <i class="fa fa-facebook-square" aria-label="Share on Facebook"></i>
        </a>
        <a href="https://twitter.com/home?status={{ share_encoded_url }}" target="_blank">
            <i class="fa fa-twitter-square" aria-label="Share on Twitter"></i>
        </a>
        <span class="embed-container">
            {% if config.EMBED_IMAGE_FEATURE_ENABLED %}{{ components.EmbedComponent(site_no) }}{% endif %}
        </span>
    </div>
{% endwith %}
