footer {
  background-color: $usgs-blue;
  padding: 1em;
  .usgs-footer-nav {
    background-color: $usgs-blue;
    padding: 1em 0 .5em 0;
    color: white;
    &:first-of-type {
        border-bottom: solid 1px white;
        padding-top: 0;
    }
    .usgs-footer-link {
      display: inline;
      padding-left: .5em;
      padding-right: .5em;
      color: white;
      text-decoration: none;
      &:visited {
        color: white;
      }
    }
  }
}
