#skip {
  a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
.usgs-banner-container {
  background-color: #000000;
  a {
    color: white;
    text-decoration: none;
  }

  .usgs-logo {
    display: inline-block;
    width: 100px;
    @include media($small-screen) {
      width: 178px;
    }
  }
  .usgs-header-links-container {
    font-size: $small-font-size;
    @media screen and (max-width: $small-screen) {
      #usgs-home-link {
        font-size: 0px
      }
    }
    @include media($small-screen) {
      font-size: $base-font-size
    }
    display: inline-block;
    float: right;

    ul {
      @include unstyled-list();
    }
  }
}

