#skip {
  a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
header {
  background-color: $usgs-blue;
  .usgs-banner-container {
    a {
      color: white;
      text-decoration: none;
    }

    .usgs-logo {
      display: inline-block;
      img {
        vertical-align: bottom;
        height: 44px;
        margin: .5em;
        @include media($small-screen) {
          height: 51px;
          margin: 1em;
        }
        @include media($medium-screen) {
          height: 58px;
        }
        @include media($large-screen) {
          height: 65px;
        }
      }
    }
    .usgs-header-links-container {
      font-size: $small-font-size;
      @media screen and (max-width: $small-screen) {
        #usgs-home-link {
          font-size: 0px
        }
      }
      @include media($small-screen) {
        font-size: $base-font-size
      }
      display: inline-block;
      float: right;

      ul {
        @include unstyled-list();
      }
    }
  }
}
