/*
 * Styles related to the Parameter Selection List.
 */
@import '../components/hydrograph/variables';

$row-border-color: 'black';

.select-time-series-container {
  #parameter-selection-title {
    @include u-font-weight('bold');
    @include u-font-size('body', 'lg');
    @include u-margin-bottom(2px);
  }

  #select-time-series {
    @include grid-container;
  }

  .main-parameter-selection-container {
    .selected {
      background-color: $selected;
    }

    .grid-row-period-of-record {
      @include grid-row;
      .grid-row-period-of-record-text {
        @include grid-col(10);
        @include grid-offset(1);
      }
      .toggle-for-top-period-of-record {
        @include grid-col(1);
      }
      @include at-media('tablet') {
        @include u-display('none');
      }
    }

    .grid-row-container-row {
      @include grid-container;
      @include u-border-bottom(1px, $row-border-color);
      @include u-padding(1);
    }

    .grid-row-container-row:first-child {
      @include u-border-top(1px, $row-border-color);
    }

    .grid-row-inner {
      @include u-padding-right(0);
      @include u-padding-left(0);

      .method-selection-row {
        @include grid-col;
        @include grid-offset(1);
      }

      .wateralert-row {
        @include grid-col;
        @include grid-offset(1);
      }
      .usa-radio__label {
        @include u-margin-top(0);
        @include u-margin-bottom(0);
      }
      .description__param-select {
        @include grid-col(7);
        @include u-font-weight('bold');
      }
      @include at-media('tablet') {
        .description__param-select {
          @include u-font-weight('normal');
        }
      }
    }

    .radio-button__param-select {
      @include grid-col(1);
    }

    .period-of-record__param-select {
      @include grid-col;
      @include u-display('none');
      @include at-media('tablet') {
        @include u-display('inline');
      }
    }

    #period-of-record-and-toggle-container {
      @include u-display('none');
      @include at-media('tablet') {
        @include u-display('flex');
        justify-content: space-between;
      }
    }
  }
}

.select-time-series-container #select-time-series {
  @include u-padding(0);
  @include u-margin(0);
}
