.social-share {
  position: relative;
  font-size: 1.25em;

  a {
    text-decoration: none;

    i {
      .fa-facebook-square {
        color: #3c5a96;
      }
    }

    i {
      .fa-twitter-square {
        color: #32aade;
      }
    }
  }
}
