.social-share {
    position: relative;
    font-size: 1.25em;
    a {
        text-decoration: none;
        i.facebook {
            color: #3C5A96;
        }
        i.twitter {
            color: #32AADE;
        }
    }
    .embed-container {
        display: inline;
    }
}
