.social-share {
  position: relative;
  font-size: 1.25em;

  a {
    text-decoration: none;

    i.fa-facebook-square {
      color: #3C5A96;
    }

    i.fa-twitter-square {
      color: #32AADE;
    }
  }
}
