.social-share {
    font-size: 1.5em;
    a {
        text-decoration: none;
        i.facebook {
            color: #3C5A96;
        }
        i.twitter {
            color: #32AADE;
        }
    }
}
