certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
itsdangerous==2.0.0
Markdown==3.3.4
MarkupSafe==1.1.1
pendulum==2.1.2
pyfakefs==4.4.0
pytest==6.2.4
pytest-mock==3.6.1
pytest-flask==1.2.0
requests==2.25.1
requests-mock==1.9.2
six==1.16.0
SaltPyLint==2020.9.28
