certifi==2020.11.8
chardet==3.0.4
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Markdown==3.3.3
MarkupSafe==1.1.1
pendulum==2.1.2
pyfakefs==4.2.1
pytest==6.1.2
pytest-mock==3.3.1
pytest-flask==1.1.0
requests==2.24.0
requests-mock==1.8.0
six==1.15.0
SaltPyLint==2020.9.28
