{% extends 'base_plain.html' %}

{% block page_css %}
      <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
{% endblock %}

{% block bundle_script %}
    <script async src="{{ 'bundle.js' | asset_url }}"></script>
{% endblock %}

{% block body %}
{% include 'partials/base.html' %}
<main id="main-content" class="grid-container content-container usa-prose">
    {% block content %}{% endblock %}
</main>
{% include 'partials/footer.html' %}
{% block extra_body %}{% endblock %}
{% endblock %}
