{% extends 'base_plain.html' %}

{% block page_css %}
    <script src="{{ 'scripts/uswds-init.min.js' | asset_url }}"></script>
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
{% endblock %}

{% block body %}
    <script async src="{{ 'scripts/wdfnviz.js' | asset_url }}"></script>
    {% include 'partials/header.html' %}

    <main id="main-content" class="grid-container content-container usa-prose">
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    {% block extra_body %}{% endblock %}
{% endblock %}
