{% extends 'base_plain.html' %}

{% block page_css %}
    <script src="{{ 'scripts/uswds-init.min.js' | asset_url }}"></script>
    <link rel="stylesheet" href="{{ 'network.css' | asset_url }}">
{% endblock %}

{% block page_script %}
{% endblock %}

{% block body %}
    {% if request.user_agent.browser == 'msie' %}
        <script src="{{ 'scripts/wdfnviz.js' | asset_url }}"></script>
    {% else %}
        <script async src="{{ 'network-bundle.js' | asset_url }}"></script>
    {% endif %}
    {% include 'partials/header.html' %}
    <main id="main-content" class="grid-container content-container usa-prose">
        {% block content %}{% endblock %}
    </main>
    {% include 'partials/footer.html' %}
    {% block extra_body %}{% endblock %}
{% endblock %}
