{% extends 'base.html' %}

{% if huc %}{% set page_title = huc.huc_nm %}{% endif %}

{% block content %}
    <div>
        {% if http_code == 200 %}
            <h1>Hydrological Unit: {{ huc.huc_nm }}</h1>

            {% if huc.children %}
                <table class="usa-table">
                    <thead>
                        <tr>
                            <th scope="col">HUC</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for huc_cd in huc.children %}
                            <tr>
                                <th scope="row"><a class="usa-link" href="{{ url_for('hydrological_unit', huc_cd=huc_cd) }}">{{ huc_cd }}</a></th>
                                <td> {{ config.HUC_LOOKUP.hucs[huc_cd].huc_nm }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if show_locations_link %}
                <a class="usa-link" href="{{ url_for('hydrological_unit_locations', huc_cd=huc.huc_cd) }}">Monitoring Locations</a>
            {% endif %}
            {% if monitoring_locations %}
                <table class="usa-table">
                    <caption>Monitoring Locations</caption>
                    <thead>
                        <tr>
                            <th scope="col">Site number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Site type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in monitoring_locations %}
                            <tr>
                                <th scope="row"><a  class="usa-link" href="{{ url_for('monitoring_location', site_no=location.site_no) }}">{{ location.site_no }}</a></th>
                                <td>{{ location.station_nm }}</td>
                                <td>{{ config.NWIS_CODE_LOOKUP.site_tp_cd[location.site_tp_cd].name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% else %}
            <h1>Error: HTTP {{ http_code }} -- HUC not found.</h1>
        {% endif %}
    </div>
{% endblock content %}
