{% extends 'base.html' %}

{% import 'macros/components.html' as components %}

{% if stations|length == 1 %}{% set page_title = stations[0].station_nm %}{% endif %}

{% block extra_head_tags %}
    {% if status_code == 200 %}
        {% if stations|length == 1 %}
            <meta name="description" content="{{ components.Description(stations[0].site_no, location_with_values, parm_grp_summary) }}">
            <!-- tags for Facebook Open Graph -->
            <meta property="og:url" content="{{ url_for('monitoring_location', site_no=stations[0].site_no, _external=True) }}" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{{ page_title }}" />
            <meta property="og:description" content="{{ components.Description(stations[0].site_no, location_with_values, parm_grp_summary) }}" />
            <!-- tags for Twitter Cards -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="@USGS">
            <meta name="twitter:title" content="{{ page_title }}">
            <meta name="twitter:description" content="{{ components.Description(stations[0].site_no, location_with_values, parm_grp_summary) }}">
        {%  endif %}
    {%  endif %}
{% endblock %}

{% block bundle_script %}
    <script src="{{ 'scripts/vendor.js' | asset_url }}"></script>
    <script async src="{{ 'bundle.js' | asset_url }}"></script>
{% endblock %}}

{% block page_script %}
    {% if json_ld %}
        <script type="application/ld+json">
            {{ json_ld }}
        </script>
    {% endif %}
    {% if uv_period_of_record %}
        <script type="application/javascript">
            CONFIG.uvPeriodOfRecord = {{ uv_period_of_record | tojson }}
        </script>
    {% endif %}
{% endblock page_script %}

{% set body_id = 'monitoring-location' %}

{% block content %}
    <div id="monitoring-location-page-container">
        {% if status_code == 200 %}
            {% if stations|length > 1 %}
                <h1>Multiple sites found</h1>
                <h3>Please pick a site:</h3>
                <table class="usa-table usa-table--borderless">
                    <thead>
                        <tr>
                            <th scope="col">Agency</th>
                            <th scope="col">Site number</th>
                            <th scope="col">Site name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for site in stations %}
                        <tr>
                            <td><a class="usa-link" href="{{ url_for('monitoring_location', site_no=site.site_no, agency_cd=site.agency_cd) }}">{{ site.agency_cd }}</a></td>
                            <td> {{ site.site_no }} </td>
                            <td> {{ site.station_nm }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <div class="site-header">
                    {% with site_no=stations[0].site_no %}{% include 'partials/social_share.html' %}{% endwith %}
                    <h1>{{ stations[0].station_nm }}</h1>
                    <div>
                        <span class="usa-tag">Important</span>
                        <a class="usa-link" aria-describedby="{{ 'classic'|tooltip_content_id }}" href="{{ config.NWIS_ENDPOINTS.UV}}?site_no={{stations[0].site_no}}" target="_blank">Classic Page</a>
                        {{ components.QuestionTooltip('classic', 'View all current conditions values on the classic Water Data for the Nation interface.', True) }}
                    </div>
                    <p id="site-description">{{ components.Description(stations[0].site_no, location_with_values, parm_grp_summary) }}</p>
                </div>

                {{ components.TimeSeriesComponent(stations[0].site_no, stations[0].dec_lat_va, stations[0].dec_long_va) }}

                {% if monitoring_camera.exists %}
                    <div class="usa-accordion" style="margin-top:1em;">
                        <h2 class="usa-accordion__heading">
                            <button class="usa-accordion__button" aria-expanded="true" aria-controls="ts-a1a">Monitoring Camera</button>
                        </h2>
                        <div id="ts-a1a" class="usa-accordion__content">
                            <div>Most recent image</div>
                            <div style="float:left">
                                <a href="{{ monitoring_camera.video  }}" title="click image to open full-size video" target="_blank">
                                    <img width="200" src="{{ monitoring_camera.thumb }}" alt="lastest camera image thumbnail">
                                </a>
                            </div>
                            <div style="float:right">
                                <div><b>Frames Gallery: </b>
                                    <a href="{{ monitoring_camera.frame_gallery }}" target="_blank">
                                        Last 99 Frames
                                    </a>
                                </div>
                                <div><b>Video Folder: </b>
                                    <a href="{{ monitoring_camera.video_index }}" target="_blank">
                                        Index of videos and images
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if config.DAILY_VALUE_HYDROGRAPH_ENABLED %}
                    <div id="dv-accordion" class="usa-accordion">
                        <h2 class="usa-accordion__heading">
                            <button class="usa-accordion__button" aria-expanded="true" aria-controls="dv-graph-container">Groundwater Data</button>
                        </h2>
                        <div id="dv-graph-container" class="usa-accordion_content">
                            {{ components.DailyValueTimeSeriesComponent(stations[0].site_no) }}
                        </div>
                    </div>
                {%  endif %}

                {% if stations[0].dec_lat_va and stations[0].dec_long_va %}
                    {{ components.MapComponent(stations[0].site_no, stations[0].dec_lat_va, stations[0].dec_long_va) }}
                {% endif %}

                {% if parm_grp_summary %}
                    <div class="usa-accordion">
                        <h2 class="usa-accordion__heading">
                            <button class="usa-accordion__button" aria-expanded="false" aria-controls="ts-a1">Summary</button>
                        </h2>
                        <div id="ts-a1" class="usa-accordion__content">
                            <table class="usa-table" id="site-data-summary">
                                <thead>
                                    <tr>
                                        <th scope="col">USGS Parameter Group</th>
                                        <th scope="col">Data Types</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for grp in parm_grp_summary %}
                                        <tr>
                                            <th scope="row">{% if grp.name %}{{ grp.name }}{% else %}<sub>n/a</sub>{% endif %}</th>
                                            <td>{{ grp.data_types }}</td>
                                            <td>{{ grp.start_date|date_to_string }}</td>
                                            <td>{{ grp.end_date|date_to_string }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a class="usa-link" href="{{ config.NWIS_ENDPOINTS.INVENTORY}}?site_no={{ stations[0].site_no }}" target="_blank">Classic Water Data for the Nation Inventory</a>
                        </div>
                    </div>
                {% endif %}

                <div class="usa-accordion">
                    <h2 class="usa-accordion__heading">
                        <button class="usa-accordion__button" aria-expanded="false" aria-controls="ts-a2">
                            Location Metadata
                        </button>
                    </h2>
                    <div id="ts-a2" class="usa-accordion__content">
                        <table class="usa-table" id="site-summary" summary="Descriptive metadata about this monitoring location">
                            <thead>
                                <tr>
                                    <th scope="col">Metadata Element</th>
                                    <th scope="col">Location Metadata</th>
                                    <th scope="col">Metadata Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in location_with_values.items() %}
                                    <tr>
                                        <th scope="row" {%  if STATION_FIELDS_D[key].description %}aria-describedby="{{ key|tooltip_content_id }}"{% endif %}>{{ STATION_FIELDS_D[key].name }}
                                            {%  if STATION_FIELDS_D[key].description %}
                                                {{ components.QuestionTooltip(key, STATION_FIELDS_D[key].description, True) }}
                                            {% endif %}
                                        </th>
                                        <td class="loc-metadata">
                                            {% if value.url %}
                                                <a href="{{ value.url }}">{{ value.name }}</a>
                                            {% else %}
                                                {{ value.name }}
                                            {% endif %}
                                            {% if value.desc %}
                                                {{ components.QuestionTooltip(value.code, value.desc, False) }}
                                            {% endif %}
                                        </td>
                                        <td>{% if value.code != value.name %}{{ value.code }}{% else %}<sub>n/a</sub>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if questions_link %}
                    <div>
                        <a class="usa-link" href="{{ questions_link }}">Email USGS questions about this site</a>
                    </div>
                {% endif %}

                {% if cooperators %}
                    <div>
                        <p>Operated in cooperation with:</p>
                        {% for cooperator in cooperators | sort(attribute='Name') %}
                            <figure class="cooperator_logo">
                                <a class="usa-class" href="{{ cooperator.URL }}">
                                    <img src="{{ cooperator.IconURL | https_url }}" alt="logo for {{ cooperator.Name }}" height="50">
                                </a>
                                <figcaption><a class="usa-class"href="{{ cooperator.URL }}">{{ cooperator.Name }}</a></figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endif %}

        {% else %}
            <h1>Error: HTTP {{ status_code }} -- {{ reason }}</h1>
        {% endif %}
    </div>

    {%  if config.TOUCHPOINT_SCRIPT %}
        {{ config.TOUCHPOINT_SCRIPT | safe }}
    {%  endif %}
{% endblock content %}
