{% extends 'base_network.html' %}

{% if network_cd %}
    {% set page_title = collection.title %}
{% else %}
    {% set page_title = 'Networks' %}
{% endif %}

{% import 'macros/components.html' as components %}

{% block content %}
    <div class="usa-width-one-whole">
        {% if http_code == 200 %}
			{% if network_cd %}
				<h1>{{ collection.title }} </h1>
                {% if collection.description %}
					<p>{{ collection.description }} </p>
                {% endif %}

               {{ components.NetworkComponent(network_cd, extent, collection, narrative) }}

            {% else %}
                <h1>Select a Network</h1>
                <table class="usa-table">
                    <thead>
                        <tr>
                            <th scope="col">Network</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for network in collection %}
                            <tr>
                                <th scope="row"><a class="usa-link" href="{{ url_for('networks', network_cd=network.id) }}">{{ network.id }}</a></th>
                                <td>{{ network.title }}</td>
                                <td>{{ network.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        {% else %}
            <h1>Error: HTTP {{ http_code }} -- Network not found.</h1>
        {% endif %}
    </div>
{% endblock content %}