{% extends 'macros/base.html' %}

{% if unit_cd %}{% set page_title = political_unit.name %}{% endif %}

{% block content %}
    <div class="usa-width-one-whole">
        {% if http_code == 200 %}
            <h1>{{ political_unit.name }}</h1>

            {% if political_unit.name == 'United States' %}
                <p>Select water monitoring location</p>
                <table class="usa-table">
                    <thead>
                        <tr>
                            <th scope="col">FIPS Code</th>
                            <th scope="col">State</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for state_cd in political_unit.children %}
                            <tr>
                                <th scope="row"><a class="usa-link" href="{{ url_for('states_counties', state_cd=state_cd) }}">{{ state_cd }}</a></th>
                                <td> {{ config.COUNTRY_STATE_COUNTY_LOOKUP.US.state_cd[state_cd].name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if political_unit.name != 'US' %}
                {% if political_unit.county_cd %}
                    <p>Select water monitoring location</p>
                    <table class="usa-table">
                        <thead>
                            <tr>
                                <th scope="col">FIPS Code</th>
                                <th scope="col">County</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for county_cd in political_unit.county_cd %}
                                <tr>
                                    <th scope="row"><a class="usa-link" href="{{ url_for('states_counties', state_cd=state_cd, county_cd=county_cd) }}">{{ county_cd }}</a></th>
                                    <td> {{ config.COUNTRY_STATE_COUNTY_LOOKUP.US.state_cd[state_cd].county_cd[county_cd].name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}

            {% if show_locations_link %}
                 <a class="usa-link" href="{{ url_for('county_station_locations', state_cd=state_cd, county_cd=county_cd) }}">Monitoring Locations</a>
            {% endif %}

            {% if monitoring_locations %}
                <table class="usa-table">
                    <caption>Monitoring Locations</caption>
                    <thead>
                        <tr>
                            <th scope="col">Site number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Site type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in monitoring_locations %}
                            <tr>
                                <th scope="row"><a class="usa-link" href="{{ url_for('monitoring_location', site_no=location.site_no) }}">{{ location.site_no }}</a></th>
                                <td>{{ location.station_nm }}</td>
                                <td>{{ config.NWIS_CODE_LOOKUP.site_tp_cd[location.site_tp_cd].name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        {% else %}
            <h1>Error: HTTP {{ http_code }} -- State or county not found.</h1>
        {% endif %}
    </div>
{% endblock content %}