{% extends 'base.html' %}

{% set page_title = 'Form Submitted' %}

{% block content %}
    <div class="usa-prose">
        <h1>Success</h1>
        <p>
            That you for submitting a question or comment.
        </p>
        <p>
            Our goal is to present you with the best user experience possible. Your comments and feedback are essential
            tools in reaching that goal.
        </p>
        <p>So here's a big thank you, from the WDFN team</p>
    </div>
{% endblock content %}