<footer class="usa-footer usa-footer-slim" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
    </div>

    <div class="usa-footer-primary-section">
        <div class="usgs-footer-nav">
            <a class="usgs-footer-link" href="https://www.usgs.gov">Home</a>
            <a class="usgs-footer-link" href="https://www.usgs.gov/about/about-us">About Us</a>
            <a class="usgs-footer-link" href="https://answers.usgs.gov/">Contacts</a>
            <a class="usgs-footer-link" href="https://www2.usgs.gov/laws/policies_notices.html">Legal</a>
        </div>
    </div>
</footer>
