    <div class="usgs-banner-container">
        <div class="usgs-logo">
            <a href="https://www.usgs.gov"><img alt="USGS Home" src="{{ config.STATIC_ROOT }}/img/USGS_logo.svg" style="width: 100%"/></a>
        </div>
        <div class="usgs-header-links-container">
            <ul>
                <li aria-hidden="true" id="usgs-home-link"><a href="https://www.usgs.gov">USGS Home</a></li>
                <li><a href="https://answers.usgs.gov/">Contact USGS</a></li>
                <li><a href="https://search.usgs.gov">Search USGS</a></li>
            </ul>
        </div>
    </div>
