<header role="banner">
    <div class="usgs-banner-container">
        <div class="usgs-logo">
            <a href="https://www.usgs.gov"><img alt="USGS Home" src="{{ config.STATIC_ROOT }}/img/USGS_logo.svg" style="width: 100%"/></a>
        </div>
        <nav class="usgs-header-links-container" role="navigation">
            <ul>
                <li aria-hidden="true" id="usgs-home-link"><a href="https://www.usgs.gov">USGS Home</a></li>
                <li><a href="https://answer.usgs.gov/cgi-bin/gsanswers?tmplt=2">Contact USGS</a></li>
                <li><a href="https://search.usgs.gov">Search USGS</a></li>
            </ul>
        </nav>
    </div>
</header>
