.hydrograph {
    .hydrograph-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 50%;  // SVG height is half its width.
        vertical-align: top;
        overflow: hidden;

        svg {
            font-size: 2em;
            @include media($small-screen) {
                font-size: 1em;
            }

            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;

            .overlay {
                fill: none;
                pointer-events: all;
            }
            .focus {
                circle {
                    fill: #436BAF;
                    opacity: .6;
                }
            }
            .line {
                fill: none;
                stroke-width: 4px;
                stroke: lightblue;
            }
            .axis {
                path {
                    fill: none;
                }
            }
            .y-axis {
                text {
                    fill: black;
                    text-anchor: middle;
                }
            }
            .tick {
                line {
                    fill: none;
                    stroke: lightgrey;
                    stroke-opacity: 0.7;
                }
                text {
                }
            }
        }
    }
}
