@import 'leaflet';
@import '../../node_modules/markercluster-iow/dist/_MarkerCluster.scss';
@import '../../node_modules/markercluster-iow/dist/_MarkerCluster.Default.scss';
@import './common';

$fa-font-path: './fonts' !default;
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

@import './partials/script';
@import './partials/slider';
@import './partials/social-share';
@import './partials/tooltip';

.wdfn-component {
  &[data-component='hydrograph'] {
    @import './components/hydrograph/app';
  }
  &[data-component='dv-hydrograph'] {
    @import './components/dv-hydrograph';
  }

  &[data-component='map'] {
    @import './components/map';
    margin-bottom: 1em;
  }

  &[data-component='embed'] {
    @import './components/embed';
    margin-bottom: 1em;
  }

  &[data-component='network-map']{
    @import './networks/networkmap';
    margin-bottom: 1em;
  }
}

/* This fixes an issue with Firefox not hiding long divs. I opened https://github.com/uswds/uswds/issues/2380 .
 * If it gets addressed this can be removed.
 */
.usa-sr-only {
  overflow: hidden;
}

body {
  #main-content {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 1em;
  }

  .content-container {
    margin-left: auto;
    margin-right: auto;
    @include u-maxw('desktop');
  }

  #wdfn-alert-banner input:checked ~ * {
    display: none;
  }

  #wdfn-alert-banner {
    background-color: color('accent-cool-lighter');

    .wdfn-alert-body {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-right: 1em;
      padding-left: 1em;
      margin-top: 0;

      .close {
        float: right;
        cursor: pointer;
        margin-top: -5px;
        margin-right: -10px;
      }

      .div {
        font-size: 0.9em;
        @include at-media('tablet') {
          font-size: 1em;
        }
        padding-left: 1em;
      }
    }

  }

  &#monitoring-location {
    @import './pages/monitoring-location';
  }
}
