{
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread",
      "istanbul"
    ],
    "presets": [
      ["@babel/env", {
        "useBuiltIns": "entry",
        "modules": false
      }]
    ]
}
