{% macro TimeSeriesComponent(site_no, latitude, longitude) -%}
    <div class="wdfn-component" data-component="hydrograph" data-siteno="{{ site_no }}" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}">
        <div class="loading-indicator-container"></div>
        <div class="graph-container"></div>
        <div class="select-time-series-container"></div>
        <div class="graph-data usa-accordion">
            <h2 class="usa-acordion__heading">
                <button class="usa-accordion__button" aria-expanded="false" aria-controls="iv-data-table-container">
                    IV Data
                </button>
            </h2>
            <div id="iv-data-table-container" class="usa-accordion__content usa-prose"></div>
        </div>
        <div class="usa-alert usa-alert--info provisional-data-alert" role="alert" hidden>
            <div class="usa-alert__body">
                <h3 class="usa-alert__heading">Provisional Data Statement</h3>
                <p class="usa-alert__text">
                    Data are provisional and subject to revision until they have been thoroughly reviewed and received final approval.
                    Current condition data relayed by satellite or other telemetry are automatically screened to not display improbable
                    values until they can be verified. Provisional data may be inaccurate due to instrument malfunctions or physical
                    changes at the measurement site. Subsequent review based on field inspections and measurements may result in
                    significant revisions to the data. Data users are cautioned to consider carefully the provisional nature of the
                    information before using it for decisions that concern personal or public safety or the conduct of business that
                    involves substantial monetary or operational consequences. Information concerning the accuracy and appropriate uses
                    of these data or concerning other hydrologic data may be obtained from the USGS.
                </p>
            </div>
        </div>
    </div>
{%- endmacro %}

{%  macro DailyValueTimeSeriesComponent(site_no, time_series_id) -%}
    <div class="wdfn-component" data-component="dv-hydrograph" data-siteno="{{ site_no }}">
        <div class="loading-indicator-container"></div>
        <div class="graph-container usa-prose"></div>
    </div>
{%- endmacro %}

{% macro MapComponent(site_no, latitude, longitude) -%}
    <div class="wdfn-component" data-component="map" data-siteno="{{ site_no }}" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-zoom=12>
        <div id="flood-layer-control-container"></div>
        <div id="site-map"></div>
        <div>
            <a class="usa-link" href="https://waterdata.usgs.gov/blog/nldi-intro/" target="_blank" >About the Network-Linked Data Index (NLDI)</a>
        </div>
    </div>
{%- endmacro %}

{% macro USMapComponent(latitude, longitude, zoom) -%}
  <div class="wdfn-component" data-component="us-map" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-zoom="{{zoom}}">
        <div id="flood-layer-control-container"></div>
        <div id="site-map"></div>
  </div>
{%- endmacro %}

{% macro WDFNParamFilters() -%}
<div class="wdfn-component" data-component="wdfn-param-filters">
    <form action="" class="grid-row">
        <fieldset class="usa-fieldset tablet:grid-col-2" id="site-type-filters">
            <legend class="usa-fieldset"><h3>Type of sites</h3></legend>
            <div class="usa-checkbox">
                <input type="checkbox"
                    name="site-type-groundwater"
                    id="site-type-groundwater"
                    value="groundwater"
                    class="usa-checkbox__input" />
                <label for="site-type-groundwater" class="usa-checkbox__label">
                    Groundwater
                </label>
            </div>
            <div class="usa-checkbox">
                <input type="checkbox"
                       name="site-type-surface"
                       id="site-type-surface"
                       value="surfacewater"
                       class="usa-checkbox__input" />
                <label for="site-type-surface" class="usa-checkbox__label">
                    Surface water
                </label>
            </div>
            <div class="usa-checkbox">
                <input type="checkbox"
                       name="site-type-atmospheric"
                       id="site-type-atmospheric"
                       value="atmospheric"
                       class="usa-checkbox__input" />
                <label for="site-type-atmospheric" class="usa-checkbox__label">
                    Atmospheric
                </label>
            </div>
            <div class="usa-checkbox">
                <input type="checkbox"
                       name="site-type-spring"
                       id="site-type-spring"
                       value="spring"
                       class="usa-checkbox__input" />
                <label for="site-type-spring" class="usa-checkbox__label">
                    Spring
                </label>
            </div>
        </fieldset>

        <fieldset class="usa-fieldset tablet:grid-col-2">
            <legend>
                <h3>Time period</h3>
            </legend>
            <div class="usa-radio">
                <input type="radio"
                       class="usa-radio__input"
                       id="period-5-years"
                       name="period"
                       value="5" />
                <label for="period-5-years" class="usa-radio__label">5 years</label>
            </div>
            <div class="usa-radio">
                <input type="radio"
                       class="usa-radio__input"
                       id="period-10-years"
                       name="period"
                       value="10" />
                <label for="period-10-years" class="usa-radio__label">10 years</label>
            </div>
            <div class="usa-radio">
                <input type="radio"
                       class="usa-radio__input"
                       id="period-20-years"
                       name="period"
                       value="20" />
                <label for="period-20-years" class="usa-radio__label">20 years</label>
            </div>
            <div class="usa-radio">
                <input type="radio"
                       class="usa-radio__input"
                       id="period-50-years"
                       name="period"
                       value="50" />
                <label for="period-50-years" class="usa-radio__label">50 years</label>
            </div>
        </fieldset>
        <fieldset class="usa-fieldset tablet:grid-col-8" id="filter-site-params">
            <legend>
                <h3>Site data parameters</h3>
            </legend>

            <div class="filter-param-list__wrapper grid-row">
                <div class="filter-param-list tablet:grid-col">
                    <h4>
                        <button class="params-toggle"
                        aria-expanded="false"
                        aria-controls="water-level-params">
                            <span>Water Level</span>
                        </button>
                    </h4>
                    <ul id="water-level-params" class="filter-site-params__options" data-open-state="closed">
                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-stage" id="params-stage" class="usa-checkbox__input">
                            <label for="params-stage" class="usa-checkbox__label">Stage</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-stage-gage-height" id="params-stage-gage-height" class="usa-checkbox__input">
                                    <label for="params-stage-gage-height" class="usa-checkbox__label">Gage height</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-stage-stream-level" id="params-stage-stream-level" class="usa-checkbox__input">
                                    <label for="params-stage-stream-level" class="usa-checkbox__label">Stream level</label>
                                </li>
                            </ul>
                        </li>
                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-groundwater-level" id="params-groundwater-level" class="usa-checkbox__input">
                            <label for="params-groundwater-level" class="usa-checkbox__label">Groundwater level</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-groundwater-level-depth-lsdparams-sea-level" id="params-groundwater-level-depth-lsdparams-sea-level" class="usa-checkbox__input">
                                    <label for="params-groundwater-level-depth-lsdparams-sea-level" class="usa-checkbox__label">Water level, depth LSD</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-groundwater-level-depth" id="params-groundwater-level-depth" class="usa-checkbox__input">
                                    <label for="params-groundwater-level-depth" class="usa-checkbox__label">Depth to water parameters</label>
                                </li>
                            </ul>
                        </li>
                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-sea-level" id="params-sea-level" class="usa-checkbox__input">
                            <label for="params-sea-level" class="usa-checkbox__label">Sea level</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-sea-level-water-elevation" id="params-sea-level-water-elevation" class="usa-checkbox__input">
                                    <label for="params-sea-level-water-elevation" class="usa-checkbox__label">Water elevation</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-sea-level-tidal-elevation" id="params-sea-level-tidal-elevation" class="usa-checkbox__input">
                                    <label for="params-sea-level-tidal-elevation" class="usa-checkbox__label">Tidal elevation</label>
                                </li>
                            </ul>
                        </li>
                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-lake-level" id="params-lake-level" class="usa-checkbox__input">
                            <label for="params-lake-level" class="usa-checkbox__label">Lake/reservoir level</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-lake-level-water-elevation" id="params-lake-level-water-elevation" class="usa-checkbox__input">
                                    <label for="params-lake-level-water-elevation" class="usa-checkbox__label">Water elevation</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="filter-param-list grid-col">
                    <h4>
                        <button class="params-toggle"
                        aria-expanded="false"
                        aria-controls="water-quality-params">
                            <span>Water Quality</span>
                        </button>
                    </h4>
                    <ul id="water-quality-params" class="filter-site-params__options" data-open-state="closed">
                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-physical" id="params-physical" class="usa-checkbox__input">
                            <label for="params-physical" class="usa-checkbox__label">Physical</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-physical-water-temperature" id="params-physical-water-temperature" class="usa-checkbox__input">
                                    <label for="params-physical-water-temperature" class="usa-checkbox__label">Water temperature</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-physical-turbidity" id="params-stage-turbidity" class="usa-checkbox__input">
                                    <label for="params-physical-turbidity" class="usa-checkbox__label">Turbidity</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-physical-specific-conductance" id="params-physical-specific-conductance" class="usa-checkbox__input">
                                    <label for="params-physical-specific-conductance" class="usa-checkbox__label">Specific conductance</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-physical-salinity" id="params-physical-salinity" class="usa-checkbox__input">
                                    <label for="params-physical-salinity" class="usa-checkbox__label">Salinity</label>
                                </li>
                            </ul>
                        </li>

                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-chemical" id="params-chemical" class="usa-checkbox__input">
                            <label for="params-chemical" class="usa-checkbox__label">Chemical</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-chemical-nutrients" id="params-chemical-nutrients" class="usa-checkbox__input">
                                    <label for="params-chemical-nutrients" class="usa-checkbox__label">Nutrients</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-chemical-metals" id="params-chemical-metals" class="usa-checkbox__input">
                                    <label for="params-chemical-metals" class="usa-checkbox__label">Metals</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-chemical-pesticides" id="params-stage-pesticides" class="usa-checkbox__input">
                                    <label for="params-chemical-pesticides" class="usa-checkbox__label">Pesticides</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-chemical-ph" id="params-chemical-ph" class="usa-checkbox__input">
                                    <label for="params-chemical-ph" class="usa-checkbox__label">pH</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-chemical-dissolved-oxygen" id="params-chemical-salinity" class="usa-checkbox__input">
                                    <label for="params-chemical-dissolved-oxygen" class="usa-checkbox__label">Dissolved oxygen</label>
                                </li>
                            </ul>
                        </li>

                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-biological" id="params-biological" class="usa-checkbox__input">
                            <label for="params-biological" class="usa-checkbox__label">Biological</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-biological-tissue-sample" id="params-biological-tissue-sample" class="usa-checkbox__input">
                                    <label for="params-biological-tissue-sample" class="usa-checkbox__label">Tissue sample</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-biological-algal" id="params-biological-algal" class="usa-checkbox__input">
                                    <label for="params-biological-algal" class="usa-checkbox__label">Algal (clorophyll)</label>
                                </li>
                            </ul>
                        </li>

                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-flow" id="params-flow" class="usa-checkbox__input">
                            <label for="params-flow" class="usa-checkbox__label">Flow</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-flow-discharge" id="params-flow-discharge" class="usa-checkbox__input">
                                    <label for="params-flow-discharge" class="usa-checkbox__label">Discharge</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-flow-flow-rate" id="params-flow-flow-rate" class="usa-checkbox__input">
                                    <label for="params-flow-flow-rate" class="usa-checkbox__label">Flow rate</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-flow-mean-velocity" id="params-flow-mean-velocity" class="usa-checkbox__input">
                                    <label for="params-flow-mean-velocity" class="usa-checkbox__label">Mean water velocity</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="filter-param-list grid-col">
                    <h4>
                        <button class="params-toggle"
                        aria-expanded="false"
                        aria-controls="flow-rate-params">
                            <span>Flow rate</span>
                        </button>
                    </h4>
                    <ul id="flow-rate-params" class="filter-site-params__options" data-open-state="closed">
                        <li class="usa-checkbox">
                            <input type="checkbox" name="params-flow-rate" id="params-flow-rate" class="usa-checkbox__input">
                            <label for="params-flow-rate" class="usa-checkbox__label">Physical</label>
                            <ul>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-flow-rate-discharge" id="params-flow-rate-discharge" class="usa-checkbox__input">
                                    <label for="params-flow-rate-discharge" class="usa-checkbox__label">Discharge</label>
                                </li>
                                <li class="usa-checkbox">
                                    <input type="checkbox" name="params-flow-rate-well" id="params-flow-rate-well" class="usa-checkbox__input">
                                    <label for="params-flow-rate-well" class="usa-checkbox__label">Well</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{%- endmacro %}

{% macro NetworkComponent(network_cd, extent) -%}

    <div class="wdfn-component" data-component="network" data-networkcd="{{ network_cd }}" data-extent="{{  extent }}">
        <h3 id="network_map_heading">Network Map:</h3>
        <p id="overload-map"></p>
        <div id="network-map"></div>
        <h3 id="network_table_heading">Link Table:</h3>
        <p id="overload-table"></p>
        <div id="link-list">
            <table id="link-table" class="usa-table">
                <thead>
                <tr>
                    <th colspan="2">
                        <input id="search-name" class="search" placeholder="Search Name">
                        <div class="table-pagination">
                            <ul class="pagination"></ul>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <button type="button" class="sort" data-sort="name">Description<i class="caret"></i></button>
                    </th>
                    <th>
                        Link
                    </th>
                </tr>
                </thead>
                <tbody class="list"></tbody>
            </table>
        </div>
    </div>

{%- endmacro %}


{% macro EmbedComponent(site_no) -%}
    <span class="wdfn-component" data-component="embed">
        <i class="embed-icon has-script fas fa-code"></i>
        <fieldset class="no-script">
            <legend>Embed Snippet</legend>
            <input type="text" id="embed-url" aria-label="Embed this time-series chart on your own site" value='<iframe src="{{ url_for('time_series_component', site_no=site_no, _external=True) }}" width="600" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>' readonly></input>
        </fieldset>
    </span>
{%- endmacro %}


{%  macro Description(site_no, loc_vals, param_grp_series) -%}
    {% if loc_vals %}
        Monitoring location {{ site_no }} is associated with {{ loc_vals.site_tp_cd.name.upper()|indefinite_article }} {{ loc_vals.site_tp_cd.name.upper() }} in {{ loc_vals.county_cd.name.upper() }}, {{ loc_vals.state_cd.name.upper() }}.
        {% if param_grp_series|readable_param_list %} Current conditions of {{ param_grp_series|readable_param_list }} are available.{% endif %}
        {% if param_grp_series|data_start_year %} Water data back to {{  param_grp_series|data_start_year }} are available online.{% endif %}
    {% endif %}
{%- endmacro %}


{%  macro QuestionTooltip(text_id, content, external_desc) -%}
    <div class="tooltip-item">
        <sup {% if not external_desc %}aria-describedby="{{ text_id|tooltip_content_id }}"{% endif %}>
            <i class="fas fa-question-circle" aria-hidden="true"></i>
        </sup>
        <div class="tooltip">
            <p id="{{ text_id|tooltip_content_id }}">{{ content }}</p>
        </div>
    </div>
{%- endmacro  %}
